{% extends "app-base.html.j2" %}

{% block main_content %}
<script type="module">
  import { deleteProcessingItems, generateTestItems, getWebsocketInfo, webSocketConnect } from "/static/processing-api.js"
  import { datetimeFormat, nullFieldFormater, tableDateFormatter } from "/static/utils.js"
  import { updateProcessingTable, processingTimeFormat, updateRemainingTime, processingRowStyle } from "/static/processing.js"

  const connectionInfo = await getWebsocketInfo()
  console.log(`Init connection to WebSocket URL: ${connectionInfo.url}`)

  setTimeout(webSocketConnect, 0, connectionInfo, (msg) => {
    updateProcessingTable(msg)
  })

  setTimeout(updateRemainingTime, 100)

  async function onDeleteItems(generateNew = false) {
    console.log("Clear processing items DB (server-side operation)")

    const modalName =  generateNew ? "clearAndGenerateModal" : "clearModal"
    const myModal = new bootstrap.Modal(document.getElementById(modalName))
    await myModal.show()

    await deleteProcessingItems()
    if (generateNew) {
      await generateTestItems()
    }

    setTimeout(async () => {
      $(`#fullProcessingList`).bootstrapTable('refresh')
      await myModal.hide()
    }, "500")
  }


  window.onDeleteItems = onDeleteItems
  window.nullFormat = nullFieldFormater
  window.tableDateFormatter = tableDateFormatter
  window.processingTimeFormat = processingTimeFormat
  window.tableDateFormatter = tableDateFormatter
  window.processingRowStyle = processingRowStyle
</script>
<!-- Content part (new order page) -->
<div class="d-flex flex-column flex-fill p-3 overflow-auto" style="max-width: 1800px;">

  <!-- Processing table card -->
  <div class="card bg-body-tertiary mb-4">
    <div class="card-body">
      <div class="d-flex flex-row align-items-center mb-3">
        <div class="me-auto"><h5 class="card-title mb-0">Processing Operations List</h5></div>
        <button type="button" class="btn btn-outline-secondary px-3 py-2 me-3" onclick="onDeleteItems(false);">Clear list</button>
        <button type="button" class="btn btn-outline-secondary px-3 py-2" onclick="onDeleteItems(true);">Clear and generate test items</button>
      </div>
      <table id="fullProcessingList"
        data-url="/api/processing"
        data-classes="table table-hover table-sm table-bordered"
        data-toggle="table"
        data-unique-id="id"
        data-sort-name="created"
        data-sort-order="desc"
        data-pagination="true"
        data-side-pagination="client"
        data-page-size="25">
        <thead>
          <tr>
            <th scope="col" data-field="id" data-cell-style="processingRowStyle" data-sortable="true">ID</th>
            <th scope="col" data-field="created" data-cell-style="processingRowStyle" data-formatter="tableDateFormatter" data-sortable="true" data-align="center">Created</th>
            <th scope="col" data-field="started" data-cell-style="processingRowStyle" data-formatter="tableDateFormatter" data-align="center">Started</th>
            <th scope="col" data-field="order.id" data-cell-style="processingRowStyle" data-sortable="true">Order ID</th>
            <th scope="col" data-field="order.customer.name" data-cell-style="processingRowStyle" data-sortable="true">Customer</th>
            <th scope="col" data-field="processingTime" data-cell-style="processingRowStyle" data-align="center" data-formatter="processingTimeFormat" data-sortable="true">Time</th>
            <th scope="col" data-field="finished" data-cell-style="processingRowStyle" data-sortable="true" data-formatter="tableDateFormatter" data-align="center">Finished</th>
            <th scope="col" data-field="status" data-cell-style="processingRowStyle" data-align="center" data-sortable="true">Status</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
        </tbody>
      </table>
    </div>
  </div>

  <div class="modal fade" id="clearModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Delete all Processing Items</h1>
        </div>
        <div class="modal-body">
          Please wait while we cleaning Processing Items DB...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="clearAndGenerateModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Generate new test items</h1>
        </div>
        <div class="modal-body">
          Please wait while we are generating new test items...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}