{% extends "orders-base.html.j2" %}

{% block page_content %}
<script type="module">
  import { setupNewOrderForm, onNewOrder, onGenerateRandomOrder, updateActiveOrdersTable } from "/static/new-order.js"
  import { datetimeFormat } from "/static/utils.js"
  import { getWebsocketInfo, webSocketConnect } from "/static/orders-api.js"

  window.addEventListener('load', async (event) => {
    await setupNewOrderForm();

    if (window.userInfo) {
      const info = await getWebsocketInfo()
      console.log(`WebSocket URL: ${info.url}`)

      setTimeout(webSocketConnect, 0, info.url, info.protocol, (msg) => {
        updateActiveOrdersTable(msg)
      })
    }
  });

  function tableDateFormatter(value) {
    return datetimeFormat(new Date(value))
  }

  function tableQueryParams(params) {
    params['active'] = true
    return params
  }

  function statusCellStyle(value, row, index, field) {
    let ret = {}

    switch (value){
      case "New":
        ret.classes = "bg-info text-dark"
        break
      case "Processing":
        ret.classes = "bg-warning text-dark"
        break
      case "Completed":
        ret.classes = "bg-success text-white"
        break
      case "Error":
        ret.classes = "bg-danger text-white"
        break
    }

    return ret
  }


  window.onNewOrder = onNewOrder
  window.onGenerateRandomOrder = onGenerateRandomOrder
  window.tableDateFormatter = tableDateFormatter
  window.tableQueryParams = tableQueryParams
  window.statusCellStyle = statusCellStyle

</script>

<!-- Content part (new order page) -->
<div class="d-flex flex-column flex-fill p-3 overflow-auto" style="max-width: 1000px;">

  <!-- New order card -->
  <div class="card bg-body-tertiary mb-4">
    <div class="card-body">
      <h5 class="card-title">Create new order</h5>
      <form>
        <div class="row">
          <div class="col-8">
            <div class="form-floating">
              <input type="text" class="form-control" id="orderId" placeholder="12345678">
              <label for="orderId">Order ID</label>
            </div>
          </div>
          <div class="col form-floating mb-3">
            <div class="form-floating">
              <input type="date" class="form-control" id="orderDate" value="2024-01-11" disabled>
              <label for="orderDate">Order Date</label>
            </div>
          </div>
        </div>

        <div class="form-floating mb-3">
          <select class="form-select" id="customerName">
          </select>
          <label for="customerName">Customer Name</label>
        </div>

        <div class="row">
          <div class="col-8">
            <div class="form-floating">
              <select class="form-select" id="itemType1">
              </select>
              <label for="itemType1">Item type #1</label>
            </div>
          </div>
          <div class="col form-floating mb-3">
            <div class="form-floating">
              <input type="number" class="form-control" id="itemNumber1" value="0" min="0">
              <label for="itemNumber1">Item #1 number</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-8">
            <div class="form-floating">
              <select class="form-select" id="itemType2">
              </select>
              <label for="itemType2">Item type #2</label>
            </div>
          </div>
          <div class="col form-floating mb-3">
            <div class="form-floating">
              <input type="number" class="form-control" id="itemNumber2" value="0" min="0">
              <label for="itemNumber2">Item #2 number</label>
            </div>
          </div>
        </div>

        <div class="form-floating mb-3">
          <input type="date" class="form-control" id="dueDate" value="2024-01-11" min="2024-01-11">
          <label for="dueDate">Due date</label>
        </div>

        <div class="d-flex">
          <button type="button" class="btn btn-outline-secondary mt-2 px-5 py-2 me-auto" onclick="onGenerateRandomOrder()">Generate</button>
          <button type="button" class="btn btn-primary mt-2 px-5 py-2" onclick="onNewOrder()">New Order</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Active orders list card -->
  <div class="card bg-body-tertiary mb-4">
    <div class="card-body">
      <h5 class="card-title">Active Orders</h5>
      <table id="currentOrders" class="table table-hover table-fixed"
        data-url="/api/orders"
        data-toggle="table"
        data-unique-id="id"
        data-sort-name="created"
        data-sort-order="desc"
        data-query-params="tableQueryParams">
        <thead>
          <tr>
            <th data-field="id" data-sortable="true" scope="col" data-width="340" data-align="left">ID</th>
            <th data-field="created" data-formatter="tableDateFormatter" data-sortable="true" scope="col" data-width="170" data-align="center">Created</th>
            <th data-field="customer.name" data-sort-name="customer" data-sortable="true" scope="col" data-align="left">Customer</th>
            <th data-field="status" data-cell-style="statusCellStyle" data-sortable="true" scope="col" data-width="100" data-align="center">Status</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}