<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Python FastAPI Demoapp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">

    <script src="/static/demoapp.js"></script>
    <script>
      const WEBSOCKET_URL = 'ws://127.0.0.1:8000/view/feed'

      window.addEventListener('load', (event) => {
        setTimeout(webSocketConnect, 0, WEBSOCKET_URL, (msg_list) => {
          updateTable(msg_list, newRow)
        })
      });

      function newRow(msg_info) {
        return {
          time: msg_info.time,
          id: msg_info.message.id,
          data: JSON.stringify(msg_info.message.data),
          sent_status: statusStr(msg_info.status["sent"]),
          db_status: statusStr(msg_info.status["db"]),
          stor_status: statusStr(msg_info.status["storage"])
        }
      }

      function statusStr(status){
        return status ? "OK" : ""
      }

    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <span class="navbar-brand mb-0 h1">DemoApp User service</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
          </ul>
          <div class="d-flex align-items-center justify-content-end">
          {% if username %}
            <div class="align-middle fw-semibold text-light mx-4">{{ username }}</div>
            <a class="btn btn-primary" href="{{ logout_path }}">Logout</a>
          {% else %}
            <a class="btn btn-primary" href="{{ login_path }}">Login</a>
          {% endif %}
          </div>
        </div>
      </div>
    </nav>

    <div class="container my-5">
      <h1>Python Demo Application</h1>
      <div class="col-lg-8 px-0">
        <p class="fs-5">This is containerized Python demo application for Azure deployment (FastAPI + Bootstrap)</p>
      </div>
      <div class="col-lg-8 px-0">
        <div class="btn btn-primary" onclick="newMessage()" >Send Message</div>
      </div>
      <h2>Sent messages to the worked service</h2>
        <table id="messages-table" class="table table-sm table-hover table-bordered" data-toggle="table" data-unique-id="id">
          <thead>
              <tr class="table-secondary">
                  <th data-field="time" scope="col">Time</th>
                  <th data-field="id" scope="col">ID</th>
                  <th data-field="data" scope="col">Data</th>
                  <th data-field="sent_status" scope="col">Sent</th>
                  <th data-field="db_status" scope="col">DB</th>
                  <th data-field="stor_status" scope="col">Storage</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
  </body>
</html>
